<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManilaLinkUp">
        <activity
            android:name=".EmployerSIgnUp"
            android:exported="false"
            android:label="Employer Sign Up"
            android:parentActivityName=".GetStarted" />
        <activity
            android:name=".OTPVerificationActivity"
            android:label="OTP Verification"
            android:parentActivityName=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".GetStarted"
            android:exported="false"
            android:label="Let's Get Started"
            android:parentActivityName=".SignUpActivity" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:label="Sign Up"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="Login to Manila LinkUp"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ProfessionalIdentity"
            android:exported="false"
            android:label="Professional Identity"
            android:parentActivityName=".OTPVerificationActivity" />

        <activity
            android:name=".JobSeekerDashboardActivity"
            android:exported="false"
            android:label="Job Seeker Dashboard"
            android:parentActivityName=".ProfessionalIdentity" />

        <activity android:name=".SavedJobsActivity"
            android:exported="true"
            android:label="Saved Jobs"
            android:parentActivityName=".JobSeekerDashboardActivity"/>

        <activity android:name=".ScheduleActivity"
            android:exported="true"
            android:label="Schedule"
            android:parentActivityName=".JobSeekerDashboardActivity"/>

        <activity android:name=".ProfileActivity"
            android:exported="true"
            android:label="Profile"
            android:parentActivityName=".JobSeekerDashboardActivity"/>


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>